* {
    font-family: "Rouge Script", cursive;
}

body {
    background-color: #D2D2D2;
    color: #204B64;
    margin: auto;
    width: 80.5%;
    text-align: center;
}

button {
    font-size: 4rem;
    background-color: #204B64;
    color: #FFFFFF;
    padding: 18px 37px;
    border-radius: 20px;
    border: none;
}

button:hover {
    background-color: #30759C;
}

button, h1 {
    cursor: pointer;
}

h1 {
    font-size: 6.5rem;
    font-weight: normal;
    margin: 55px 0 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #204B64;
}

html {
    scroll-behavior: smooth;
    font-size: 60%;
}

.intro p {
    font-size: 6rem;
    margin-top: 230px;
    margin-bottom: 50px;
}